<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User history</title>
  </head>
  <body>
    <h1>User History</h1>

    <ul *ngFor="let user of userdetails">
      {{
        user.username
      }}
      <li *ngFor="let skill of user.skills">
        {{ skill }}
      </li>
      <br />
    </ul>

    <button class="btn btn-success" (click)="loginpage()">
      Go to Login Page
    </button>
  </body>
</html>
